

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.elementor-widget-container-amc{
    margin-top: 20px;
}
.elementor-text-editor-amc{
    padding-top: 14px;
}
.subheading-amc{
    margin-left: -112px;
}
.elementor-row-amc{
    height: auto;
    width: 100%;
    margin-left: -90px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.elementor-text-editor-amc {
    margin-top: 10px;
    margin-left: 200px;
}
.amch4{
    color: #10164e;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 15px;
    font-weight: 600;
}
.amcpara{
    color: #000000;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
    margin: 0 0 15px;
}
@media only screen and (max-width: 767px){
    .amc-container{
        margin-top: 65px;
    }
    .elementor-text-editor-amc {
        margin-left: 0px;
    }  
    .subheading-amc {
        margin-left: 44px;
    }
    .elementor-row-amc {
        margin-left: -45px;
        margin-top: -64px;
    }
}