*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
/* body{
	width: 100%;
	height: 100vh;
	display: grid;
	align-items: center;
	background: #8e2dec;
} */
.contact-in{
	width: 77%;
	height: auto;
	margin: auto;
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 0%;
	font-family: 'Roboto', sans-serif;
	background: #fff;
	/* box-shadow: 0px 0px 10px 0px #666; */
}
.contact-map{
	width: 550px;
    height: 465px;
    flex: 50%;
    /* margin-top: 40px; */
}
.contact-form{
	height: auto;
	flex: 40%;
}
.contact-form h1{
	margin-bottom: 17px;
	margin-left: -355px;
	text-align: center;
	font-size: 20px;
}
.contact-form-txt{
	width: 98%;
	height: 40px;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 0px;
	outline: none;
	margin-bottom: 20px;
	padding: 15px;
}
.contact-form-txt::placeholder{
	color: #aaa;
}
.contact-form-txtarea{
	width: 97%;
	height: 130px;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 0px;
	outline: none;
	margin-bottom: 20px;
	padding: 15px;
}
.captcha {
	height: 75px;
    width: 26%;
	margin-top: -64px;
	background-color:#f9f9f9;
	border:2px solid #d3d3d3;
	border-radius:5px;
	color:#4c4a4b;
	display:flex;
	justify-content:center;
	align-items:center;
}
.card-container{
    margin-left: 5px;
}
.company-name{
	font-size: 17px;
	color: black;
	margin-bottom: 4px;
}
.company-addr{
	margin-top: 10px; 
    height: 47px;
    font-size: 15px;
    margin: 0px;
}
.office-name{
	margin-top: 8px;
	font-size: 17px;
}

.text {
	font-size: 15px;
	font-weight:500;
	margin-right:1em;
}
.spinner {
	position:relative;
	width:1em;
	height:1em;
	display:flex;
	margin:0em 1em;
	align-items:center;
	justify-content:center;
}
input[type="checkbox"] { position: absolute; opacity: 0; z-index: -1; }
input[type="checkbox"]+.checkmark {
	display:inline-block;
	width: 1.8em;
    height: 1.6em;
	background-color:#fcfcfc;
	border:2.5px solid #c3c3c3;
	border-radius:3px;
	display:flex;
	justify-content:center;
	align-items:center;
	cursor: pointer;
}
input[type="checkbox"]+.checkmark span {
	content:'';
	position:relative;/*
	position:absolute;
	border-bottom:3px solid;
	border-right:3px solid;
	border-color:#029f56;*/
	margin-top:-3px;
	transform:rotate(45deg);
	width:.75em;
	height:1.2em;
	opacity:0;
}
input[type="checkbox"]+.checkmark>span:after {
	content:'';
	position:absolute;
	display:block;
	height:3px;
	bottom:0;left:0;
	background-color:#029f56;
}
input[type="checkbox"]+.checkmark>span:before {
	content:'';
	position:absolute;
	display:block;
	width:3px;
	bottom:0;right:0;
	background-color:#029f56;
}
input[type="checkbox"]:checked+.checkmark { 
	animation:2s spin forwards;
}
input[type="checkbox"]:checked+.checkmark>span { 
	animation:1s fadein 1.9s forwards;
}
input[type="checkbox"]:checked+.checkmark>span:after {animation:.3s bottomslide 2s forwards;}
input[type="checkbox"]:checked+.checkmark>span:before {animation:.5s rightslide 2.2s forwards;}
@keyframes fadein {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes bottomslide {
	0% {width:0;}
	100% {width:100%;}
}
@keyframes rightslide {
	0% {height:0;}
	100% {height:100%;}
}
.logo {
	display:flex;
	flex-direction:column;
	align-items:center;
	height:85%;
	align-self:flex-end;
	margin:0.5em 1em;
}
.logo img {
	height:2em;
	width:2em;
}
.logo p {
	color:#9d9ba7;
	margin:0;
	font-size:10px;
	font-weight:700;
	margin:.4em 0 .2em 0;
}
.logo small {
	color:#9d9ba7;
	margin:0;
	font-size:10px;
}
@keyframes spin {
	10% {
		width:0;
		height:0;
		border-width:6px;
	}
	30% {
		width:0;
		height:0;
		border-radius:50%;
		border-width:1em;
		transform: rotate(0deg);
		border-color:rgb(199,218,245);
	}
	50% {
		width:2em;
		height:2em;
		border-radius:50%;
		border-width:4px;
		border-color:rgb(199,218,245);
		border-right-color:rgb(89,152,239);
	}
	70% {
		border-width:4px;
		border-color:rgb(199,218,245);
		border-right-color:rgb(89,152,239);
	}
	90% {
		border-width:4px;
	}
	100% {
		width:2em;
		height:2em;
		border-radius:50%;
		transform: rotate(720deg);
		border-color:transparent;
	}
}
::selection {
	background-color:transparent;
	color:teal;
}
::-moz-selection {
	background-color:transparent;
	color:teal;
}
.button{
    text-align: center;
    width: 6%;
	height: 34px;
    border: none;
    outline: none;
    /* border-radius: 50px; */
    background: #10164e;
	color: white;
    cursor: pointer;
    font-size: 18px;
    margin-left: -290px;
    margin-top: 45px;
}
.card1-container {
    min-height: 30vh;
    width: 75%;
    margin: auto;
	margin-left: 144px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    padding: 0.9em;
   
  }
  h1{
      color: #10164e;
	  color: #10164e;
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 80%;
    margin-bottom: 30px;
  }
  .office-card {
    margin: 1.5em;
    padding: 7px;
	margin-top: 10px;
    width: 32%;;
    display: flex;
    flex-direction: row;
	font-family: 'Roboto', sans-serif;
    background-color: white;
	border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 10px 0px rgb(32 33 89 / 50%);
  }
  .fa-phone {
    font-size: 17px;
    color: #f4a024;
	font-family: 'Roboto', sans-serif;
}
strong{
    font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
.fa-envelope {
    font-size: 16px;
    color: #f4a024;
}
iframe{
	width: 610px;
	height: 475px;
	border: 0px;
	margin-left: 5px;
}
/* media query */
@media only screen and (max-width: 767px) {
	.contact-in{
		width: 100%;
    margin-left: 40px;
	}
	iframe{
		width:430px ;
		margin-left: 10px;
	}
	.captcha {
			/* height: 75px; */
			width: 50%;
			margin-left: 10px;
			margin-top: 25px;
	}
	.logo img {
		height: 1em;
		width: 1em;
	}
	.logo p{
		font-size: 12px;
	}
	.text {
		margin:.5em!important;
		text-align:center;
	}
	.button{
		width: 35%;
		margin-left: 67px;
		margin-top: 10px;
	}
	.office-card{
		width: 100%;
    margin-left: 60px;
	}
	.card1-container {
		margin-left: 30px;
		width: 100%;
		flex-direction: column;
	}
}