/* support css */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.sectionMain{
    width:67%;
    height: auto;
    margin-left: 295px;
    height: auto;
    /* background-color: burlywood; */
}
.elementor{
    hyphens: manual;
}
.elementor-section {
    position: relative;
}
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}
section{
    display: block;
}
/* section 1st */
.support-heading{
    width: 100%;
    margin-top: 35px;
}
.support-heading-container{
    margin-top: 10px;
    width: 100%;
    height: 40px;
}
.support-heading-container-title{
    color: #10164e;
    font-size: 19px;
    line-height: 1;
    letter-spacing: 1px;
}
/* section 2nd */
.elementor-row-supportCon-1{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 292px;
    /* background-color: cadetblue; */
}
.elementor-widget-container-box {
    width: 32%;
    height: 266px;
    padding: 9px 9px 9px 9px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgb(39 44 109 / 50%);
}
.support-section-3{
    width: 90%;
    /* padding: 15px; */
}
 .elementor-text-editor {
    text-align: justify;
    /* margin-left: 200px; */
}
.elementor-widget-text-editor {
    color: #7a7a7a;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}
/* section 3rd */
.hr-tag{
    background-color:black;
    border: 0;
    height: 0.7px;
    margin-bottom: 1.5em;
    margin-left: 0px;
    width: 100%;
}
.wp-caption-text {
    text-align: center;
    margin: 8px 0px;
    font-size: 17px;
    color: #000000;
}
h1, h2, h3, h4, h5, h6 {
    color: #10164e;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 15px;
    font-weight: 600;
}
b, strong {
    font-weight: bold;
}
ul {
    list-style: disc;
    line-height: 1.5;
    font-size: 15px;
}
p {
    color: #000000;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
    margin: 0 0 15px;
    font-family: 'Roboto', sans-serif;
}

/* section 4th */
    /* subsection-4-1 */
    .elementor-widget-container-subsection{
        margin-left: 0px;
    } 
    /*subsection-4-3  */
    .elementor-row-supportCon{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        height: 260px;
    }
    .elementor-row-supportCon2{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        height: 220px;
    }
    .elementor-widget-container-system {
        width: 32%;
        height: 240px;
        padding: 9px 9px 9px 9px;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0px 0px 10px 0px rgb(39 44 109 / 50%);
    }
    .elementor-image-box-img{
        margin-left: 120px;
    }

    .elementor-image-box-img:hover{
        transform: scale(1.1);
    }
    .elementor-image-box-wrapper{
        padding-top: 10px;
    }
    .elementor-image-box-content{
        padding-top: 10px;
    }

/* section-5 */

.m_-723663970761592205elementor-widget-container{
    width: 100%;
    line-height: 1.5;
    font-size: 15px;
}
 
/* section-6 */
.elementor-heading-title{
    margin-left: 0px;
    margin-left: 0px;
    font-size: 19px;
    letter-spacing: 1px;
}
/* section-7 */
.elementor-heading-title-2{
    margin-left: 0px;
}
.elementor-text-editor-2 {
    text-align: justify;
}
.mz-figure{
    height: 300px;
}
.mz-hint, .mz-loading {
    background: white;
}

/* section-8 */
.elementor-heading-title2{
        margin-left: 0px;
}
/*close support css */
@media only screen and (max-width: 767px){
.sectionMain {
    width: 100%;
    height: auto;
     margin-left: 20px;
     display: flex;
     flex-direction: column;
     /* background-color: cadetblue; */
}
.elementor-row-supportCon-1{
    flex-direction: column;
}
.elementor-widget-container-box {
    width: 90%;
    margin-top: 25px;
}
.EPC-Info{
    margin-top: 510px;
}
.elementor-heading-title {
    margin-left: 0px;
}
.elementor-widget-container-subsection {
    margin-left: 0px;
}
.elementor-row-supportCon{
    flex-direction: column;
    /* margin-left: 0px; */
}
.elementor-widget-container-system {
    width: 100%;
    height: auto;
    margin-left: 0px;
    margin-top: 30px;
}
.elementor-image-box-img {
    margin-left: 99px;
}
.elementor-image-box-title{
    margin-left: 10px;
}
.m_-723663970761592205elementor-widget-container {
    margin-top: 590px;
    margin-left: 0px;
}
.m_-723663970761592205elementor-text-editor{
    margin-top: -516px;
    width: 360px;
}
.elementor-row-supportCon2{
    flex-direction: column;
    margin-left: 10px;
}
.elementor-image{
    margin:20px ;
}
.elementor-heading-title-2 {
    margin-left: 0px;
    margin-top: 141%;
}
.elementor-text-editor-2 {
    margin-top: -52px;
    margin-left: 20px;
    width: 430px;
}
.elementor-row-supportCon {
    margin-left: 0px;
    margin-top: -66px;
}
.elementor-heading-title2{
    margin-left: 0px;
    margin-top: 900px;
}
}